
/**************************************
    POSITION STYLING 
***************************************/

.float-right {
    float: right;
}

/**************************************
    HEADER/FOOTER
***************************************/

.headerRow, .footerRow {
    background: navy;
    color: white;
    height: 50px;
}

.headerRow > h2 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1%;
}

.fa-shopping-cart {
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2%;
}

/**************************************
    MAIN ROW
***************************************/

.mainRow {
    height: auto;
    min-height: 500px;
}

.leftCol, .rightCol {
    border: solid black;
    /* padding: 2%; */
}

.leftCol > h4, .rightCol > h4 {
    /* text-align: center; */
    margin-top: 2%;
    margin-bottom: 2%;
}

.productRow:nth-child(even) {
    background: gainsboro;
}