<!doctype html>
<html lang="en">

<head>
    <% include partials/templates/head.ejs %>
</head>

<body>

    <% include partials/templates/navbar.ejs %>

    <img src="/media/background.jpg" style="width: 100%;">
    <h1 class="centered"> <%= pageTitle %> </h1>

</div>
<!-- Closing tag for navbar partial template -->

    <div class="overlay"></div>

    <% include partials/templates/jsdefaults.ejs %>
</body>

</html>