<!doctype html>
<html lang="en">

<head>
    <% include partials/templates/head.ejs %>
</head>

<body>

    <img src="/media/background.jpg" style="width: 100%;">
    <h1 class="centered" style="font-size: 10vw;"> <%= pageTitle %> </h1>

    <% include partials/templates/jsdefaults.ejs %>
</body>

</html>