<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div id="dismiss">
            <i class="fas fa-arrow-right"></i>
        </div>

        <div class="sidebar-header">
            <h3>Battle of the Bands</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Bands</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="/coldplay">Coldplay</a>
                    </li>
                    <li>
                        <a href="/imaginedragons">Imagine Dragons</a>
                    </li>
                    <li>
                        <a href="/maroon5">Maroon 5</a>
                    </li>
                    <li>
                            <a href="/onerepublic">OneRepublic</a>
                    </li>
                </ul>
            </li>
            <li>
            </li>
            <li>
                <a href="#">About (Coming Soon)</a>
            </li>
            <li>
                <a href="#">Chat (Coming Soon)</a>
            </li>
            <li>
                <a href="/feedback">Feedback</a>
            </li>
        </ul>
    </nav>

    <!-- <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #001a33; height: 80px;">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="dropdownId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Bands</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId" style="margin-right: 5%;">
                        <a class="dropdown-item" href="/coldplay">Coldplay</a>
                        <a class="dropdown-item" href="/imaginedragons">Imagine Dragons</a>
                        <a class="dropdown-item" href="/maroon5">Maroon 5</a>
                        <a class="dropdown-item" href="/onerepublic">OneRepublic</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav> -->
    <!-- End of Navbar -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                </ul>
            </div>

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-right"></i>
                <span>Toggle</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>
    
        </div>
    </nav>
    <!-- End of Navbar -->